<h1>New User</h1>
<%= form_for user, html: { 'data-validate-email-url' => validate_email_users_path } do |f| %>
  <div class="form-group">
    <%= f.label :username %>:
    <%= f.text_field :username, class: 'form-control js-username' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>:
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>:
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :age %>:
    <%= f.number_field :age, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary js-new-user-button' %>
<% end %>